
.footer {
  background: #111;
  color: white;
  padding: 60px 0;
  margin-top: 120px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  color: #aaa;
  text-decoration: none;
}
